{% extends "layout.html" %}

{% block layout_content %}
    {% if request.user.is_authenticated %}
        <table class="table table-striped table-properties">
            <thead>
            <tr>
                <th class="border" scope="col">Username</th>
                <th class="border" scope="col">Date created</th>
                <th class="border" scope="col">Group</th>
                <th class="border" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="border">{{ user.username }} </td>
                    <td class="border">{{ user.date_joined }}</td>
                    <td class="border">{{ current_group.group_name }}</td>

                    <td class="border">
                        <a href="{% url 'update_user' user.id %}" class="btn btn-outline-secondary">Edit</a>
                        <a href="{% url 'delete_object' user.id %}"
                           class="btn btn-outline-dark">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-dark" href="{% url 'create_user' current_group.id %}"> Create a new user </a>
    {% else %}
        <h1 class="text text-secondary" style="text-align: center;"> Spreadsheets will appear here after
            authentication </h1>
    {% endif %}

{% endblock %}
